<div class="sidebar">

    <div class="icon-elements">

        <% if(locals.user){ %>
            <div>
                <a href="/main-page"><button class="btn btn-dec">List of Students</button></a>
                
            </div>

            <div>
                <a href="/interview/list-interview-page"><button class="btn btn-dec">List Interview</button></a>
            </div>

            <div> 
                <a href="/student/all-details"><button class="btn btn-dec">Details</button></a>
            </div>

            <div>
                <a href="/signout"><button class="btn btn-dec">Signout</button></a>
            </div>
        <% } %> 
    </div>
</div>