<form action="/interview/create-interview" method="POST">
    <div>
        <br>
        &nbsp;
        <label for="company"> Company</label>
        <input type="text" name="company" id="company">
        <br>
        <br>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <label for="date">Date</label> 
        <input type="date" name="date" id="date">
        <br>&nbsp;
        <input class="btn btn-dec-rev" type="submit" name="submit" id="submit">
    </div>
</form>