<% if(locals.user){ %>
    <table border="1">
        <tr>
            <th>Company</th>
            <th>Date</th>
            <th>List of Students</th>
            <th>Add a Student</th>
        </tr>
        <% for(i of interview){ %>
            <tr> 
                
               <td><%= i.company %></td> 
                <td><%= i.date %></td>
                <td><a href="/student/all-students/<%= i._id %>">Link</a> </td>
                <td><a href="/interview/schedule/<%= i._id %>">Add Student</a></td>
            </tr>
        <% } %> 
    </table>
    <br>
    <div>
        <a class="btn btn-dec-rev" href="/interview/add-interview">Add interview</a>
    </div>
<% } %>  