<link rel="stylesheet" href="/css/signin.css">

<div class="card">
    
    <div class="heading"> <Strong><h1>Sign In</h1></Strong>  </div>

    <form action="/signin" method="POST" class="form">

        <div class="email">
            <label for="email"> <strong>Email Id</strong> </label>
            <input type="text" name="email" placeholder="Email Id" id="email" required>
        </div>

        <div class="password">
            <label for="password"><strong>Password</strong> </label>
            <input type="password" name="password" placeholder="Password" id="password" required>
        </div>
        
        <div class="signin-button">
            <input type="submit" name="submit" id="submit" value="Sign In">
        </div>

    </form>

    <div class="create-new">
        Don't have an account ? <a href="/signuppage">Create one here</a>
    </div>
    

</div>